---
import Search from "../../components/Search.astro";
import ArticleBanner from "../../components/subcomponents/article-utils/ArticleBanner.astro";
import HighlightedHeading from "../../components/utils/HighlightedHeading.astro";
import { getArticles, getSanityArticles } from "../../data/articles";
import MainLayout from "../../layouts/MainLayout.astro";

let articles: any = await getArticles();

const sanityArticles = await getSanityArticles();
console.log(sanityArticles);
---

<!-- !You have to manually update the output of the astro project by setting output to server or static or hybrid depending on the requirements -->
<MainLayout title="Articles">
  <div class="my-[2rem] w-[100%]">
    <Search prefillVal={""} />
  </div>
  <div
    class="border-t-2 border-r-2 rounded-tr-[1rem] border-blue-300 p-[3rem] pt-[1rem]"
  >
    <div class="flex items-center justify-between pb-[2rem]">
      <HighlightedHeading title="Articles" />
    </div>
    <div class="grid grid-cols-2 gap-[1rem] place-items-center">
      {
        articles.map((article: any) => {
          return <ArticleBanner article={article} />;
        })
      }
    </div>
  </div>
</MainLayout>
