---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

// const articles: CollectionEntry<"blogs">[] = await getCollection("blogs");
// console.log(articles);

const articles = await getCollection("blogs");
---

<!-- !You have to manually update the output of the astro project by setting output to server or static or hybrid depending on the requirements --><!-- TODO - add a search bar to sarch the article -->
<MainLayout title="Articles">
  <h1>Articles</h1>
  <p>Coming soon...</p>
</MainLayout>
