---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

// const articles: CollectionEntry<"blogs">[] = await getCollection("blogs");
// console.log(articles);

const articles = await getCollection("blogs");

---

<MainLayout title="Articles">
  <h1>Articles</h1>
  <p>Coming soon...</p>

</MainLayout>

<!-- TODO getStaicPaths here and SSR -  https://docs.astro.build/en/guides/content-collections/ -->
