---
import { LATEST_ARTICLE_LIMIT } from "../../../constants";
import { getArticles } from "../../../data/articles.ts";
import HighlightedHeading from "../../utils/HighlightedHeading.astro";
import ArticleBanner from "../article-utils//ArticleBanner.astro";

let articles = await getArticles();

articles = articles
  .sort((a, b) => {
    // if a is after b, return a negative number
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
  })
  .slice(0, LATEST_ARTICLE_LIMIT);
---

<div class="w-[80%] border-t-2 border-r-2 border-blue-300 p-[3rem] pt-[1rem]">
  <div class="flex items-center justify-between pb-[2rem]">
    <HighlightedHeading title="Latest Articles" />
  </div>
  <div class="grid grid-rows-1 gap-[1rem] place-items-center">
    {
      articles.map((article) => {
        return <ArticleBanner article={article} />;
      })
    }
  </div>
</div>
