---
import { getLatestSanityArticles } from "../../../data/articles.ts";
import HighlightedHeading from "../../utils/HighlightedHeading.astro";
import ArticleBanner from "../article-utils//ArticleBanner.astro";

let articles = await getLatestSanityArticles();
---

<div class="w-[80%] border-t-2 border-r-2 border-blue-300 p-[3rem] pt-[1rem]">
  <div class="flex items-center justify-between pb-[2rem]">
    <HighlightedHeading title="Latest Articles" />
  </div>
  <div class="grid grid-rows-1 gap-[1rem] place-items-center">
    {
      articles.map((article) => {
        return <ArticleBanner article={article} />;
      })
    }
  </div>
</div>
