---
import { getArticles } from "../../../data/articles";
import HighlightedHeading from "../../utils/HighlightedHeading.astro";
import StarredArticleBanner from "../article-utils/StarredArticleBanner.astro";

const { class: classList } = Astro.props;

let articles = await getArticles();

//only return those articles that are starred
articles = articles.filter((article) => article.data.starred);
---

<div class={classList + " px-5 pt-5"}>
  <HighlightedHeading title="Starred Articles" />
  <div class="grid grid-rows-1 gap-5">
    {
      articles.map((article) => {
        return <StarredArticleBanner article={article} />;
      })
    }
  </div>
</div>
