---
import HighlightedHeading from "../../utils/HighlightedHeading.astro";
---

<div class="w-[30%] border-t-2 border-blue-1980 px-5 pt-5">
  <HighlightedHeading title="Starred Articles" />
  <div class="mb-[2rem] bg-gray-200 h-[200px] w-[100%] rounded-md"></div>
  <div class="mb-[2rem] bg-gray-200 h-[200px] w-[100%] rounded-md"></div>
  <div class="mb-[2rem] bg-gray-200 h-[200px] w-[100%] rounded-md"></div>
  <div class="mb-[2rem] bg-gray-200 h-[200px] w-[100%] rounded-md"></div>
  <div class="mb-[2rem] bg-gray-200 h-[200px] w-[100%] rounded-md"></div>
</div>
