---
import AuthorBanner from "../../components/subcomponents/author-utils/AuthorBanner.astro";
import HighlightedHeading from "../../components/utils/HighlightedHeading.astro";
import { getSanityAuthors } from "../../data/authors";
import MainLayout from "../../layouts/MainLayout.astro";

const authors = await getSanityAuthors();
---

<MainLayout title="Authors">
  <div
    class="border-t-2 border-r-2 rounded-tr-[1rem] border-blue-300 p-[3rem] pt-[1rem]"
  >
    <div class="flex items-center justify-between pb-[2rem]">
      <HighlightedHeading title="Authors" />
    </div>
    <div class="grid grid-flow-col-dense gap-[1rem] place-items-center">
      {
        authors.map((author) => {
          return <AuthorBanner author={author} />;
        })
      }
    </div>
  </div>
</MainLayout>
