---
import MainLayout from "../layouts/MainLayout.astro";
import Test from "../components/Test.astro";
import HeroComponent from "../components/react/Hero.tsx";
import ArticlesBox from "../components/ArticlesBox.astro";
---

<MainLayout>
  <div class="mt-[3rem]">
    <HeroComponent client:only="react" />
    <ArticlesBox />
    <Test name="" />
  </div>
</MainLayout>
