---
import LatestArticles from "./subcomponents/articlesbox/LatestArticles.astro";
import StarredArticles from "./subcomponents/articlesbox/StarredArticles.astro";
---

<div class="w-[100%] h-[100%] flex">
  <LatestArticles />
  <StarredArticles />
</div>
