---
// importing the React component
import NavList from "./react/NavList.tsx";
import NavtxtLogo from "./subcomponents/navbar/navtxt-logo.astro";
---
<style>
  .gradient-border {
    position: relative;
    padding: 20px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Ensure pseudo-element does not overflow the parent */
  }
</style>
<nav class="w-[100%] flex items-center justify-between p-[1rem] bg-gradient-to-r from-blue-400 to-blue-600 border-bottom-2 gradient-border ">
  <NavtxtLogo />
  <NavList />
</nav>
