---
// importing the react component
import NavList from "./react/NavList.tsx";
import NavtxtLogo from "./subcomponents/navbar/navtxt-logo.astro";
---

<nav class="w-[100%] flex items-center justify-between p-[1rem] bg-blue-950">
  <NavtxtLogo />
  <NavList />
</nav>
