---
 import Layout from '../../layouts/PageLayout.astro'; 
---
<Layout>
  <h1>Experience</h1>

  <section>
    <h2>
      <a href="https://www.linkedin.com/in/roberto-ramos-1b1b1b1b1/"
        >Software Engineer</a
      >
    </h2>
    <p>
      <strong>Company:</strong>
      <a href="https://www.linkedin.com/in/roberto-ramos-1b1b1b1b1/"
        >Company Name</a
      >
    </p>
    <p>
      <strong>Location:</strong> City, State
    </p>
    <p>
      <strong>Duration:</strong> Month Year - Present
    </p>
    <p>
      <strong>Description:</strong> Description of the role.
    </p>
  </section>
</Layout>
