---
import Navbar from "../components/Navbar.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants.ts";

const { title = "Home" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE_DESCRIPTION} />
    <title>{SITE_TITLE} - {title}</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main class="mx-[10rem] my-[3rem]">
      <slot />
    </main>
  </body>
</html>
